/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500");
@import url('https://fonts.googleapis.com/css?family=Nova+Flat');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
/* MAIN */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f4f4f4;
}
.card {
  display: inline-block;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #fcfcfc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.19);
  margin: 7px 7px;
  padding: 10px;
  border-radius: 3px;
  transition: 0.3s cubic-bezier(0.29, 0.87, 0.7, 1.02);
  vertical-align: top;
}
.card:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
}
.label {
  background-color: #fcfcfc;
  padding: 0px 3px;
  border-radius: 2px;
  width: fit-content;
  color: gray;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.29, 0.87, 0.7, 1.02);
  position: relative;
  left: 5px;
  top: 16px;
  font-size: 16px;
  z-index: 2;
}
.entry {
  overflow: hidden;
  color: #383b36;
  position: relative;
  top: -7px;
  padding: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 18px;
  width: calc(100% - 6px);
  background-color: #fcfcfc;
  border: 1px solid #fcfcfc;
  border-left: 3px solid lightgrey;
  border-radius: 3px;
  outline: none;
  transition: 0.3s cubic-bezier(0.29, 0.87, 0.7, 1.02);
}
.erequired {
  border-left: 3px solid #f54f43;
}
.f {
  margin: 4px;
}
.choice {
  cursor: pointer;
}
.drop-prev {
  overflow: hidden;
  color: grey;
  position: relative;
  top: -7px;
  padding: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 18px;
  width: calc(100% - 6px);
  background-color: #fcfcfc;
  border: 1px solid #fcfcfc;
  border-bottom: 3px solid lightgrey;
  border-radius: 3px;
  outline: none;
  transition: 0.3s cubic-bezier(0.29, 0.87, 0.7, 1.02);
}
.drequired {
  border-bottom: 3px solid #f54f43;
}
.ditem {
  color: #383b36;
  display: block;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.29, 0.87, 0.7, 1.02);
  padding: 6px;
}
.ditem:hover {
  background-color: lightgray;
  color: white;
}
.dropdown {
  display: none;
  position: relative;
  width: 100%;
  border: 1px solid gray;
  border-radius: 3px;
}
.dropdown hr {
  margin: 0px 10px;
  border: none;
  border-top: 1px solid lightgray;
  overflow: visible;
  background-color: #fcfcfc;
}
#container {
  z-index: 0;
  position: absolute;
  left: 145px;
  top: 97px;
  width: calc(100% - 185px);
}
#container .content {
  position: relative;
  color: #383b36;
  font-size: 48px;
  margin: 15px 0px;
}
#container #info {
  margin-top: 0px;
}
#container #writing .card {
  width: 500px;
}
#container #writing .entry {
  resize: vertical;
  width: calc(100% - 14px);
  height: 200px;
  min-height: 100px;
  min-width: 350px;
  overflow: scroll;
  font-size: 14px;
}
#container #shadow .card {
  width: 400px;
}
#container #help .card {
  width: 500px;
}
#head {
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.19);
  background-color: #fcfcfc;
  position: fixed;
  height: 56px;
  width: 100%;
  left: 0px;
  top: 0px;
}
#head #mymit {
  height: 100%;
  width: fit-content;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
#head #mymit #my {
  position: relative;
  top: -13px;
  padding-bottom: 2px;
  padding-left: 8px;
  font-weight: 400;
  color: #c9a269;
}
#head #mymit svg {
  padding: 5px;
}
#head #mymit svg .primary {
  fill: #383b36;
}
#head #mymit svg .secondary {
  fill: #c9a269;
}
#head #mymit:hover #my {
  color: #383b36;
}
#head #mymit:hover svg .primary {
  fill: #c9a269;
}
#head #mymit:hover svg .secondary {
  fill: #E3D0B6;
}
#head #welcome {
  position: absolute;
  top: 5px;
  padding: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 35px;
  left: calc(50% - 125px);
}
#head #account {
  position: absolute;
  top: 5px;
  padding: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 35px;
  right: 0px;
}
#head #account #app {
  position: relative;
  top: -10px;
  font-size: 20px;
}
#head #account #number {
  position: relative;
  top: -10px;
  color: white;
  font-size: 20px;
  background-color: #c9a269;
  border-radius: 10px;
  padding: 3px 8px;
}
#head #account #logout {
  padding: 3px 6px;
  font-size: 35px;
  cursor: pointer;
}
#sidebar {
  background-color: #fcfcfc;
  position: fixed;
  left: 30px;
  top: calc((100% - 400px) / 2);
  width: 60px;
  height: 400px;
}
#sidebar hr {
  border: none;
  border-top: 3px double #E3D0B6;
  overflow: visible;
  background-color: #fcfcfc;
}
#sidebar .tab-icon {
  position: relative;
  left: 7px;
  margin: 20px 4px;
  font-size: 35px;
  color: #383b36;
  cursor: pointer;
}
#sidebar .tab-icon:hover {
  color: #c9a269;
}
#sidebar #l-faq {
  font-family: "Roboto", sans-serif;
  left: 9px;
  position: relative;
  bottom: -11px;
  margin: 4px;
  color: #383b36;
}
#sidebar #l-faq:hover {
  color: #f54f43;
  cursor: pointer;
}
.l {
  cursor: pointer;
}
.l:hover {
  color: #c9a269;
}
a {
  color: #383b36;
  font-weight: bold;
}
a:hover {
  color: #f54f43;
}
